
.visible{
    display: none;
}
#score{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font: 400 13.3333px Arial;
    font-size: 32px;
    display: flex;
    justify-content: center;
}
button{
    border-radius: 50px;
    border: 2px solid #fff;
    color:black;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font: 400 13.3333px Arial;
    font-size: 18px;
    border-color:black;
    background-color: white;
    width:200px;
    height:50px;
    margin: 15px;

}
button:focus{
    outline:0;
}

button:hover{
    color:maroon;
}

button:active{
    background-color:#3333;
}

.btns{
    display:flex;
    justify-content: center;
}
#rdiv{
    display: flex;
    justify-content: center;
}
#reset{
    width:100px;
    height:50px;
}

#status{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font: 400 13.3333px Arial;
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin: 15px;
}

body{
    margin: 0;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

#title{
    display: flex;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font: 400 13.3333px Arial;
    font-size: 40px;
    justify-content: center;
    margin: 15px;
}